@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
    background: url('https://unsplash.imgix.net/45/HWijjF7RwOPGEJ1nb4Zb_IMG_3773.jpg?q=75&fm=jpg&s=38ebbe5922dfb2114877fe9170478b2f') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



.maincontainer{
    width: 90%;
    margin: 1em auto;
    padding: 4em 1em;
    background: rgba(236, 240, 241, 0.85);

    
}

.badge{
    background: rgba(52, 152, 219, 1);
}

.add-comment{
    background: rgba(46, 204, 113,1.0);
    color: #fff;
    padding: 0.2em 1em;
    border-radius: 10em;
    cursor: pointer;
    font-size: 0.8em;
}

.glyphicon-plus{
    font-size: 0.8em;
}


* {
    font-family: 'Open Sans', sans-serif;
}

